body{
    background-color: rgb(254, 213, 248);
    padding: 30px;
}

.card{
    width: 330px;
    height: 200px;
    border:1px solid rgb(219, 149, 198);
    background-color: beige;
    box-shadow:0 0 8px 2px rgb(255, 218, 6);
    border-radius: 20px;
}