body{
    background-color: rgb(254, 213, 248);
    padding: 30px;
}
.class-container{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 220px;
    height: 390px;
    border:1px solid rgb(85, 14, 183);
    background-color: beige;
    box-shadow:0 0 7px 4px rgb(151, 150, 144);
    border-radius: 15px;
}
.image{
    height: 100px;
    width: 120px;
    padding: 10px 50px 0 ;
}
.price{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(74, 93, 41);
    padding-left: 54px;
}
.footer{
background-color: rgb(33, 84, 84);
font-size: 30px;
text-align: center ;
color:rgb(211, 168, 11);
position:relative;
height: 52px;
border-radius: 0 0 18px 18px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}