body{
    background-color: rgb(254, 213, 248);
    padding: 30px;
}

.card{
    width: 220px;
    height: 400px;
    border:1px solid rgb(85, 14, 183);
    background-color: beige;
    box-shadow:0 0 5px 4px rgb(180, 178, 170);
    border-radius: 15px;
}
.image{
    height: 100px;
    width: 120px;
    padding: 10px 50px 0 ;
}
.price{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkolivegreen;
    padding-left: 50px;
}